{% extends 'base.html' %}

{% block title %}
Reporte Mantenimientos
{% endblock %}

{% block content %}
{% load static %}

{% include 'sidenav_mant.html' %}

<h1 class="title">Reporte Mantenimientos</h1>
<div class='cabecera'>
    <form action='' >
        
        {{ form.as_p }}
    
        <input type='submit' value='Mostrar' />
    
    </form>
</div>

{% for area in areas %}
<h2> {{area}} </h2>
    {% for maquina in maquinas %}
        {% if maquina.modelo.tipo.area == area %}
            <h3> {{maquina}} </h3>
            <table>
                <tr>
                    <th> Maquina </th>
                    <th> Tipo </th>
                    <th> Periodo </th>
                    <th> Tareas </th>
                </tr>
            {% for mant in mants%}
                {% if mant.maquina == maquina %}
                <tr>
                    <td> {{mant.maquina}} </td>
                    <td> {{mant.tipo}} </td> 
                    <td> {{mant.periodo}} </td>
                    <td> <button type="button" onclick="location.href='{% url 'repxtareas' mant.id%}'">Ver Tareas</button> </td>     
                </tr>
                {% endif %}
            {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}